# Ignoring node_modules
node_modules

# Ignoring all hls-streams
src/hls-Streams/*

# Keeping md files in hls-streams
!src/hls-Streams/*.md

# Ignoring all MPEG_DASH-streams
src/MPEG-DASH-Streams/*

# Keeping md files in MPEG_DASH-streams
!src/MPEG-DASH-Streams/*.md

# Ignoring all uploadedVideos
src/uploadedVideos/*

# Keeping md files in uploadedVideos
!src/uploadedVideos/*.md

# Keeping the demo template and removing actual db
src/db/db.json
!src/db/db-Example.json