<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HLS Service Testing</title>
    <link rel="stylesheet" href="https://unpkg.com/xp.css" />
  </head>
  <style>
    .flex {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  </style>
  <body class="flex">
      <h3>Input the video file you'd like to convert to hls stream</h3>
      <form class="flex" action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="video" id="vid" />
        <button type="submit">Submit</button>
      </form>
  </body>
</html>
